nav {
    background-color: #00ba7f;
 }
 .nav-link{
     color: white;
 }
.modal-trigger{
    top: 50%;
    position: absolute;
    background-color: #00ba7f;
    border: none;
}
 .button-icon{
    background-image: url('https://mdbootstrap.com/img/svg/hamburger2.svg?color=fff');
 }

 .container-image{
     position: relative;
 }
 
.img-hero-two{
     position: absolute;
     right:0;
     -webkit-clip-path: polygon(70% 0, 100% 0%, 100% 100%, 30% 100%);
     clip-path: polygon(70% 0, 100% 0%, 100% 100%, 30% 100%);
     top:0;
     max-height: 100%;
     max-width: 100%;
}
/* @media (max-width: 1180px){
    .img-hero-two{
        position: absolute;
        right:0;
        -webkit-clip-path: polygon(70% 0, 100% 0%, 100% 84%, 30% 84%);
        clip-path: polygon(70% 0, 100% 0%, 100% 84%, 30% 84%);
        
        top:0;
   }
} */
@media (min-width: 1520px){
    .img-hero-two{
        position: absolute;
        right:0;
        -webkit-clip-path: polygon(22% 0, 100% 0%, 100% 100%, 0 100%);
        clip-path: polygon(22% 0, 100% 0%, 100% 100%, 0 100%);
        top:0;
        max-height: 100%;
        max-width: 100%;
   }
}
 .container-text{
     position: absolute;
     top: 40%;
     
     color: white;
 }
 .container-res{
     
     height: 50px;
     border: 1px solid red;
     position: absolute;
     top: 70%;
 }
 .icon-clock{
     width: 30px;
     height: 30px;
 }
 .icon-phone{
     width: 30px;
     height: 50px;
 }
 .icon-check{
     width:30px;
     height: 30px;
 }
 .icon-bus{
     width:30px;
     height: 30px;
 }
 .icon-water{
     width: 30px;
     height: 40px;
 }
 .icon-ticket{
     width: 50px;
     height: 30px;
 }
 .icon-credit-card{
     height: 30px;
     width: 40px;
 }
 .icon-wifi{
     height: 30px;
     width: 40px;
 }
 .icon-calendar{
     height: 30px;
     width: 40px;
 }
 .box-text{
    border: 1px solid rgba(190, 188, 188, 0.5);
 }

 @media (min-width: 768px) and (max-width: 991.98px) { 
     .container-text{
        font-size: 2em;
     }
 }
 @media (min-width: 992px){
    .container-text{
        font-size: 3em;
     }
 }
 .explore span{
     color: #3dc99d;
     
 }
 .weekend span{
     color: #3dc99d;
     
 }
 .weekend, .explore{
     font-size: 2em;
     text-align: center;

 }
 .text-container{
     background: #f4f6f6;
     display: flex;
     justify-content: center;
 }
 
 @media (max-width: 768px){
     .weekend, .explore{
         font-size: 1.5em;
     }
 }
 @media (max-width: 768px){
    .modal-trigger{
        width: 110px;
        height: 30px;
        font-size: 0.5em;
        margin-top: 10px;
        top: 60%;
        
    }
}
